# Настройки базы данных
DB_HOST=localhost
DB_PORT=5432
DB_USER=salon_admin
DB_PASSWORD=salon_pass
DB_NAME=salon_db

# Строка подключения (для TypeORM)
DATABASE_URL=postgresql://salon_admin:salon_pass@localhost:5433/salon_db

# JWT секрет
JWT_SECRET=your_jwt_secret_key